.principal{
    background-color: antiquewhite;
    width: 600px;
    margin: 100px auto;
    border: 5px solid blue;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
}
label{
    font-size: 25px;
}

table{
   margin-left: 30% ;
   
}
th, td{
    height: 15px;
    
}